.footer {
    background-color: #333;

    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .contactFooter,
        .footerLegal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 12px;

            h2 {
                color: white;
                font-size: 1.3rem;
                font-weight: bold;
                margin: 0;
                padding: 0;
                text-decoration-line: underline;
            }

            a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
            a:hover {
                color: #6798e6;
                cursor: pointer;
            }
        }

        .footerCop{
            h2 {
                color: white;
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
            p {
                color: white;
                font-size: 12px;
                font-weight: bold;
                margin: 0;
            }
        }
    }
}
